<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is created by AAMIR ASHRAF</h1>
    <h3>he is going to become django master one day thi</h3>
    <a href="https://www.facebook.com/" target="_blank">facebook</a><br>
    <a href="https://www.google.com" target="_blank">google</a><br>
    <a href="https://www.manchesterunited.com" target="_blank">man united</a>
</body>
</html>