<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello predator i am your template please use me in the django development {{name}} how are you and you are  {{age}} years old</h1>
    <h2>its a just check for the index .html is working or not the main points to remember is that templates file location is same as the manga.py location</h2>

</body>
</html>